.faq{
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 139px;
    &__subtitle{
        margin-bottom: 28px;
        margin-top: 0;
    }
    &__title{
        max-width: 390px;
        margin: 0;
        padding: 0;
font-weight: 500;
font-size: 48px;

    }
    &__block{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__contact{
        display: flex;
        align-items: center;
    }
    &__list{
        margin-top: 40px;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
        &-two{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &-btn{
            display: inline-block;
            background-color: black;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-text{
         color: #575757;
font-weight: 400;
font-size: 18px;

        }
        &-title{
           margin: 0;
           padding: 0;
font-weight: 500;
font-size: 24px;

        }
        &-item{
            max-width: 676px;
            background-color: white;
            padding: 18px;
            border-radius: 8px;
            &--active{
                max-height: 88px;
            }
        }
        &-block{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
}